{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>
            MultiBlogs | Criação do blog
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="{% static 'js/axios.min.js' %}"></script>
        <script src="{% static 'js/vue.min.js' %}"></script>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0" id="app">
            {% comment %} <!-- Navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                    <div class="container px-5">
                        <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">Start Bootstrap</span></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="resume.html">Resume</a></li>
                                <li class="nav-item"><a class="nav-link" href="projects.html">Projects</a></li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav> 
            {% endcomment %}
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Crie seu blog</h1>
                            <p class="lead fw-normal text-muted mb-0">Para começar você precisa criar seu primeiro blog!</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-floating mb-3">
                                        {% render_field form.avatar class="form-control" %}
                                        <label for="name">{{form.avatar.label}}</label>
                                        {% for error in form.avatar.errors %}
                                            <div class="text-danger">{{error}}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-floating mb-3">
                                        {% render_field form.username type="email" class="form-control" placeholder="Digite seu e-mail..." %}
                                        <label for="name">Seu E-mail</label>
                                        {% for error in form.username.errors %}
                                            <div class="text-danger">{{error}}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-floating mb-3">
                                        {% render_field form.name class="form-control" placeholder="Digite seu nome..." %}
                                        <label for="name">{{form.name.label}}</label>
                                        {% for error in form.name.errors %}
                                            <div class="text-danger">{{error}}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="{{form.blog_name.name}}" id="{{form.blog_name.auto_id}}" @blur="checkIfBlogExists()" v-model="blogSlug" placeholder="Nome do seu blog..." required="required">
                                        <label for="name">Nome do seu blog</label>
                                        <a href="javascript:;" :class="{ 'text-danger': blogSlugError }">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                                            </svg>
                                            https://dominio/${convertToSlug(blogSlug)}
                                        </a>
                                        <template v-if="blogSlugError">
                                            <br />
                                            <small class="text-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                </svg>
                                                Um blog com esse nome já existe, por favor escolha outro nome.
                                            </small>
                                        </template>
                                        {% for error in form.blog_name.errors %}
                                            <div class="text-danger">{{error}}</div>
                                        {% endfor %}
                                    </div>
                                    <hr>
                                    <div class="form-floating mb-3">
                                        {% render_field form.password1 class="form-control" placeholder="Digite uma senha forte..." %}
                                        <label for="name">{{form.password1.label}}</label>
                                        {% for error in form.password1.errors %}
                                            <div class="text-danger">{{error}}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-floating mb-3">
                                        {% render_field form.password2 class="form-control" placeholder="Confirme a senha..." %}
                                        <label for="name">{{form.password2.label}}</label>
                                        {% for error in form.password2.errors %}
                                            <div class="text-danger">{{error}}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-lg" :disabled="blogSlugError" type="submit">Criar blog</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script>
            var app = new Vue({
                el: "#app",
                delimiters: ["${", "}"],
                data: {
                    blogSlug: '{{form.first_name.value|default:""}}',
                    blogSlugError: false,
                },
                methods: {
                    convertToSlug(str) {
                        str = str.replace(/^\s+|\s+$/g, ''); // trim
                        str = str.toLowerCase();
                        // remove accents, swap ñ for n, etc
                        var from = "ãàáäâẽèéëêìíïîõòóöôùúüûñç·/_,:;";
                        var to   = "aaaaaeeeeeiiiiooooouuuunc------";
                        for (var i = 0, l = from.length; i < l; i++) {
                            str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
                        }
                    
                        str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
                            .replace(/\s+/g, '-') // collapse whitespace and replace by -
                            .replace(/-+/g, '-'); // collapse dashes
                    
                        return str;
                    },
                    checkIfBlogExists() {
                        if(this.blogSlug.length) {
                            this.blogSlugError = false
                            axios.get(`{% url 'api:check-blog' %}?slug=${this.convertToSlug(this.blogSlug)}`).then(() => this.blogSlugError = true)
                        }
                    }
                },
                mounted() {

                },
            })
        </script>
    </body>
</html>
