{% load static %}
<hr class="my-4">
<h5>{{comments.count}} Comentário(s)</h4>

{% for comment in comments %}
    <div class="border border-left p-2 row">
        <div class="col-12">
            {% if object.autor.avatar %}
                <img src="{{object.autor.avatar.url}}" style="height: 50px;" class="rounded-circle" alt="Avatar">
            {% else %}    
                <img src="{% static 'img/avatar.png' %}" style="height: 50px;" class="rounded-circle" alt="Avatar">
            {% endif %}
            <small>
                <a href="{% url 'pages:blog-detail' slug=object.autor.slug %}">{{object.autor.get_full_name|default:"Autor sem nome"}}</a>,
                <strong>{{comment.created_at}}</strong>
            </small>
            <blockquote>
                <p class="my-1">
                    {{comment.text}}
                </p>
            </blockquote>
            <form method="GET" id="collapse-{{forloop.counter}}" class="accordion-collapse collapse">
                <input type="hidden" name="parent" value="{{comment.id}}">
                <textarea name="text" id="text_id" class="form-control" rows="5" required></textarea>
                <button type="submit" class="btn btn-secondary mt-3 mb-5">Enviar comentáio</button>
            </form>
            <small class="text-end">
                <a href="javascript:;" data-bs-toggle="collapse" data-bs-target="#collapse-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-{{forloop.counter}}">Responder</a>
            </small>
            {% for comment in comment.childrens %}
                <div class="border border-left p-2 row mx-1">
                    <div class="col-12">
                        {% if object.autor.avatar %}
                            <img src="{{object.autor.avatar.url}}" style="height: 50px;" class="rounded-circle" alt="Avatar">
                        {% else %}    
                            <img src="{% static 'img/avatar.png' %}" style="height: 50px;" class="rounded-circle" alt="Avatar">
                        {% endif %}
                        <small>
                            <a href="{% url 'pages:blog-detail' slug=object.autor.slug %}">{{object.autor.get_full_name|default:"Autor sem nome"}}</a>,
                            <strong>{{comment.created_at}}</strong>
                        </small>
                        <blockquote>
                            <p class="my-1">
                                {{comment.text}}
                            </p>
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% empty %}
    <p>Não tem nenhum comentário neste post</p>
{% endfor %}
<h5 class="mt-3">Deixe um comentário</h4>
{% if user.is_authenticated %}
    <form method="GET">
        <textarea name="text" id="text_id" class="form-control" rows="5" required></textarea>
        <button type="submit" class="btn btn-primary mt-3 mb-5">Enviar comentáio</button>
    </form>
{% endif %}