{% extends 'core/base.html' %}

{% block content %}
    
    <header class="masthead" style="background-image: url({{object.image.url}})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>
                            {{object.title|default:"Blog sem nome"}}
                        </h1>
                        {% if object.subtitle %}
                            <span class="subheading mb-3">
                                {{object.subtitle}}
                            </span>
                        {% endif %}
                    </div>
                    {% if object.autor == user %}
                        <div class="d-flex justify-content-center my-3">
                            <a href="{{object.urls.change}}" class="btn btn-primary">Modificar <i class="fas fa-edit"></i></a>
                            <a href="{{object.urls.delete}}" class="btn btn-danger mx-2">Remover <i class="fas fa-times"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5 my-5" style="min-height: 100vh;">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-12">
                {% include 'core/includes/messages.html' %}
                {{object.content|safe}}
            </div>
        </div>
    </div>
{% endblock content %}